#preferences {
    --_spacing: calc(var(--spacing-small) / 2);
    padding: var(--_spacing);
}

app-preferences {
    font-size: 0.9em;

    .legend {
        padding-left: var(--_spacing);
    }
}


/**
todo eventually draw what is related to radio group into forms.css
 */

fieldset {
    container: fieldset / inline-size;
    margin-top: var(--_spacing);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--_spacing) calc(var(--_spacing) / 2);

    &:focus-within .legend {
        text-decoration: underline solid var(--action-color);
    }
}

.radio-group {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    width: min(100%, 20em);
    border-radius: var(--border-radius);
    border: 1px solid var(--form-border-color);

    label {
        flex-direction: row;
        padding: calc(var(--_spacing) / 2) var(--_spacing);
        transition: background-color var(--animation-duration), color var(--animation-duration);

        &:has(input[checked]) {
            background-color: var(--action-color);
            color: var(--action-color-contrast);
        }

        &:not(:last-child) {
            border-inline-end: 1px solid var(--form-border-color);
        }
    }


}

input[type=radio] {
    box-shadow: unset;
    margin-right: var(--_spacing);
    accent-color: var(--action-color);

    &:focus ~ span {
        outline: 1px dotted;
    }
}

@container fieldset (max-width: 520px) {
    .radio-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        label:not(:last-child) {
            border-inline-end: unset;
            border-block-end: 1px solid var(--form-border-color);
        }

    }
}
