#preferences {
    --_spacing: calc(var(--spacing-small) / 2);
}

#preferences {
    padding: var(--_spacing);
}

app-preferences {
    font-size: 0.9em;
}

app-preferences .legend {
    padding-left: var(--_spacing);
}


/**
todo eventually draw what is related to radio group into forms.css
 */

fieldset {
    margin-top: var(--_spacing);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--_spacing)
}

fieldset:focus-within .legend {
    text-decoration: underline solid var(--action-color);
}

.radio-group {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    width: min(100%, 20em);
    border-radius: var(--border-radius);
    border: 1px solid var(--form-border-color);
}

input[type=radio] {
    box-shadow: unset;
    margin-right: var(--_spacing);
}

.radio-group label {
    flex-direction: row;
    padding: calc(var(--_spacing) / 2) var(--_spacing);
}

.radio-group label:has(input[checked]){
    background-color: var(--action-color);
    color: var(--action-color-contrast);
}

.radio-group label:not(:last-child){
    border-inline-end: 1px solid var(--form-border-color);
}

input[type=radio]:focus ~ span {
    outline: 1px dotted;
}


@media (max-width: 580px) {

    fieldset {
        flex-direction: column;
        align-items: stretch;
        gap: calc(var(--_spacing) / 2);
    }

    .legend {
        align-self: flex-start;
    }

    .radio-group {
        grid-template-columns: unset;
        width: 100%;
    }

    .radio-group label:not(:last-child){
        border-inline-end: unset;
        border-block-end: 1px solid var(--form-border-color);
    }
}
