a.button-like {
    text-decoration: none;
}

button, .button-like {
    --padding: 0.5em;
    font-size: 0.9em;
    background: inherit;
    padding-inline: var(--padding);
    padding-block: calc(var(--padding) / 2);
    border: 1px solid currentColor;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 1px 0 var(--blurry-color),
    0 0 3px 0 var(--blurry-color);
}

:is(button, .button-like) > span {
    line-height: 1;
}

:is(button, .button-like):focus {
    outline: none; /* todo */
}


:is(button, .button-like):not(:active):hover{
    box-shadow: 0 0 2px 0 var(--blurry-color),
    0 0 4px 0 var(--blurry-color),
    0 0 6px 0 var(--blurry-color);
}

:is(button, .button-like):active{
    box-shadow: none;
}

:is(button, .button-like):has(ui-icon:first-child){
    display: flex;
    align-items: center;
    gap: calc(var(--padding) / 2);
}


