#list-section {
    --_gap: var(--spacing-small);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--_gap);
}

#list-section > :first-child {
    display: grid;
    place-content: center;
    min-height: 5em;
}

#list-section:has(:nth-child(2)) > :first-child {
    border-width: 2px;
    border-color: var(--shadow-color);
    border-style: dashed;
    border-radius: 4px;
}

app-product-list-item {
    --_spacing: calc(var(--spacing-small) * 2 / 3);
    display: flex;
    flex-direction: column;
    padding: var(--_spacing);
}

.product-card {
    font-size: 0.85em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--_spacing);
}

.product-card > header {
    display: flex;
    align-items: center;
    gap:var(--spacing-small);
    justify-content: space-between;
    margin-bottom: var(--spacing-small);
    font-size: 0.9em;
}

.product-card  h2 {
    margin: 0;
}

.product-card p {
    font-size: 0.85em;
    margin: 0;
    flex-grow: 1;
}

.product-card__image-container {
    aspect-ratio: 3 / 2;
    background: lightgray;
}

div:has(>.product-card__price){
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product-card__price > span:first-child {
    font-size: 3em;
}

.product-card__sku {
    font-size: 0.9em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--_spacing);
}

/**
 * Product form
 */

div:has(> .product-form) {
    --spacing: calc(var(--spacing-small) * 2/3);
    --_large-spacing:calc(var(--spacing) * 4);
    padding-inline: var(--_large-spacing);
}

.product-form {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: var(--_spacing) var(--_large-spacing);
}

.product-form input[type=file]{
    width: 50%;
}

.product-form > .action-bar {
    padding-block-start: var(--_spacing);
    grid-column: 1 / span 2;
}

.product-form label {
    grid-column: 1;
}

.product-form label:has(ui-file-input){
    grid-column: 2;
    grid-row: 1 / span 4 ;
}

.product-form ui-file-input{
    background: #f8f8f8;
    flex-grow: 1;
}

@media (max-width: 720px) {

    div:has(.product-form) {
        --_large-spacing: 0;
    }

    .product-form {
        display: flex;
        flex-direction: column;
    }
}


