body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body * {
    box-sizing: inherit;
}

app-todo-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

app-todo{
}

[is=app-controls]:empty{
    display: none;
}