*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.4;
    margin: unset;
    -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img,
picture,
svg,
canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}


:root {

    --main-hue: 216;
    --main-saturation: 100%;
    --font-lightness: 22%;
    --font-color: hsl(var(--main-hue), var(--main-saturation), var(--font-lightness));

    --app-bg: #f8f8f8;
    --danger-color: #a80000;
    --surface-bg: white;
    --max-width: 700px;
}

body {
    color: var(--font-color);
    font-size: clamp(1.3rem, 0.5vw + 1rem, 1.4rem);
    font-family: system-ui, monospace, sans-serif;
    background: var(--app-bg);
    padding: 1rem;

    > * {
        max-width: min(100%, var(--max-width));
        margin-inline: auto;
    }
}

h1 {
    font-size: 1.5em;
}

ui-icon {
    --_size: var(--size, 1em);
    aspect-ratio: 1 / 1;
    display: inline-block;
    width: var(--_size);
    height: var(--_size);
}

:is(span, button, a):has(ui-icon:first-child) {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type=text],
button,
::part(button),
#toggle-all {
    --_color: var(--color, var(--font-color));
    --_shadow-color: var(--shadow-color, lightgray);
    --_bg-color: var(--bg-color, var(--surface-bg));
    --_font-size: var(--font-size, 0.9em);

    white-space: nowrap;
    border: 1px solid var(--_color);
    color: var(--_color);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 var(--_shadow-color);
    background: var(--_bg-color);
    font-size: var(--_font-size);
    padding: 0.3em;
}

input:focus-visible {
    --_bg-color: #ffffd8;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

main > * {
    margin-block: 1rem;
    display: block;
}

#add-todo-form {
    max-width: min(100%, 520px);
    font-size: 1.5rem;
    transition: all 0.3s;

    &:focus-within {
        max-width: 100%;
    }

}

#add-todo-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    > input {
        min-width: min(100%, 400px);
        flex-grow: 1;
    }

    > button {
        margin-inline-start: auto;
    }

}

#todo-list {
    --checkbox-width: 2em;
    --left-padding: 0.75em;

    > * {
        margin-block: 1em;
    }
}

app-todo-list {
    --gap: 0.5em;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background: var(--surface-bg);
    padding-inline: var(--left-padding);
    border: 1px solid currentColor;
    border-radius: 4px;

    &:empty {
        border: unset;
    }
}

app-todo {
    padding-block: 0.5em;
    border-bottom: 1px solid gray;

    &:last-child {
        border-bottom: unset;
    }
}

[is=app-controls] {
    display: grid;
    grid-template-areas:
            "filter filter filter"
            "toggle-all info clear-all";
    grid-template-columns: 100px 1fr 9em;
    gap: 0.5em;
    align-items: center;
    font-size: 0.8em;

    > fieldset {
        grid-area: filter;
        margin-inline: auto;
    }

    > p {
        text-align: center;
        grid-area: info;
    }

}

#toggle-all {
    display: grid;
    align-items: center;
    grid-template-columns: var(--checkbox-width) auto;
    margin-left: calc(var(--left-padding) + 0.3em);
}
