form {
    --_spacing: var(--spacing, var(--spacing-small,1em));
    --_control-baground: inherit;
    --_animation-duration: var(--animation-duration,0.3s);
    --_border-color: currentColor;
    padding: var(--padding, 1em);
}

label {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: calc(var(--_spacing) / 4);
}

label > span:first-child::first-letter {
    text-transform: uppercase;
}

label > span:first-child:has(+ input[required])::after {
    content:'*';
    font-size: 0.8em;
    /*position: relative;*/
    /*top: -4px*/
}

label:focus-within > span:first-child {
    text-decoration: underline solid var(--action-color);
}

input, textarea {
    font-size: 0.9em;
    padding: 0.3em;
    outline: none;
    border: 1px solid var(--_border-color);
    font-family: inherit;
    background: var(--_control-baground);
}

input::file-selector-button {
    display: none;
}

input[type=file]{
    cursor: pointer;
}

:is(input, textarea):focus{
    --_control-baground: var(--control-focus-color);
}

input:user-invalid{
    --_border-color: var(--danger-color);
}

.action-bar {
    display: flex;
    gap: var(--_spacing);
    justify-content: flex-end;
}

ui-file-input {
    display: grid;
    place-items: center;
    border-radius: 4px;
    border: 2px dashed var(--shadow-color);
    aspect-ratio: 3 / 2;
    cursor: pointer;
}

