form {
    --_spacing: var(--spacing, var(--spacing-small, 1em));
    --_control-bg: inherit;
    --_border-color: var(--form-border-color, gray);
    padding: 1em;
}

label {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: calc(var(--_spacing) / 4);
}

input, textarea {
    font-size: 0.9em;
    padding: 0.3em;
    outline: none;
    border: 1px solid var(--_border-color);
    border-radius: var(--border-radius);
    background: var(--_control-bg);
    font-family: inherit;
    transition: background var(--animation-duration);
}

label > span:first-child::first-letter {
    text-transform: uppercase;
}

span:has(+ input[required])::after {
    content: '*';
    font-size: 0.8em;
}

label:focus-within > span:first-child{
    text-decoration: underline solid var(--action-color);
}


input, textarea, .radio-group {
    box-shadow: 0 0 2px 0 var(--shadow-color);
}

:is(input, textarea):focus {
    --_control-bg: var(--control-focus-color);
}

input:user-invalid {
    --_border-color: var(--danger-color);
}

ui-file-input {
    display: grid;
    place-items: center;
    border-radius: 4px;
    border: 2px dashed var(--shadow-color);
    aspect-ratio: 3 / 2;
    cursor: pointer;
}

input::file-selector-button {
    display: none;
}

input[type=file] {
    cursor: pointer;
}

.action-bar {
    display: flex;
    gap: var(--_spacing);
    justify-content: flex-end;
}

fieldset {
    border: unset;
    padding: unset;
}
