@import url('button.css');
@import url('../products/products.css');
@import url('form.css');
@import url('../users/me.css');

:root {
    font-family: system-ui, Avenir, sans-serif;
    --font-color: #3b3b3b;
    --surface-bg: white;
    --app-bg: #f6f6f6;
    --spacing-big: 1.5em;
    --spacing-small: 1em;
    --action-color: #426cb3;
    --action-color-contrast: white;
    --control-focus-color: #e9f6ff;
    --danger-color: orangered;
    --shadow-color: #8a8a8a;
    --animation-duration: 0.3s;
}

html {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    color: var(--font-color);
    min-height: 100svh;
    font-size: clamp(1.2rem, 1.8vw, 1.5rem);
    background: var(--app-bg);
    margin: 0;
    padding-bottom: var(--spacing-big);
}

body.dark{
    --font-color: #f2f2f2;
    --surface-bg: #202945;
    --app-bg: #152028;
    --spacing-big: 1.5em;
    --spacing-small: 1em;
    --action-color: #5be382;
    --action-color-contrast: #1e1e1e;
    --control-focus-color: #5a839f;
    --danger-color: #fd793c;
    --shadow-color: #b5ffc2;
    --animation-duration: 0.3s;
    --form-border-color: #76ac80;
}

body.motion-reduced {
    --animation-duration: 0;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body * {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-block: calc(var(--spacing-small) / 2);
}

a {
    color: var(--action-color);
    text-underline-offset: 4px;
}

ui-icon {
    --_size: var(--size, 1em);
    aspect-ratio: 1 / 1;
    display: inline-block;
    width: var(--_size);
    height: var(--_size);
}

.wrapper {
    --_max-width: var(--max-width, 80ch);
    --_spacing: var(--spacing, var(--spacing-big));
    max-width: min(var(--_max-width), 100% - var(--_spacing));
    margin: auto;
}

.surface {
    background: var(--surface-bg);
}

.danger {
    color: var(--danger-color);
}

/**
HEADER
 */

#logo {
    width: 3rem;
    height: 3rem;
}

.boxed {
    box-shadow: 0 0 2px 0 var(--shadow-color);
}

#main-header > .wrapper {
    --spacing: calc(var(--spacing-big) * 2);
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: var(--spacing);
}

#main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#main-nav {
    flex-grow: 1;
}

#main-nav li {
    flex-basis: 100px;
}

#main-nav a {
    --_spacing: 4px;
    text-decoration: none;
    display: grid;
    gap: var(--_spacing);
    padding-inline: var(--_spacing);
    padding-block: var(--_spacing);
    grid-template-rows: 1fr auto;
    justify-items: center;
    border-width: var(--_spacing) 0;
    border-style: solid;
    border-color: transparent;
    color: currentColor;
    opacity: 0.8;
    transition: border-bottom-color var(--animation-duration);
}

#main-nav a[aria-current=page]{
    border-bottom-color: var(--action-color);
}

#main-nav a:hover {
    opacity: 1;
}

#main-nav a > span:last-child {
    font-size: 0.7em;
}

#main-nav a > ui-icon:first-child {
    --size: 1.5rem;
    display: block;
}
