@import url("reset.css");
@import url('button.css');
@import url('form.css');
@import url('../products/products.css');
@import url('../users/me.css');

:root {
    font-family: system-ui, Avenir, sans-serif;
    --font-color: #3b3b3b;
    --surface-bg: white;
    --app-bg: #f6f6f6;
    --spacing-big: 1.5em;
    --spacing-small: 1em;
    --action-color: #426cb3;
    --action-color-contrast: white;
    --control-focus-color: #e9f6ff;
    --danger-color: orangered;
    --shadow-color: #8a8a8a;
    --animation-duration: 0.3s;
    --border-radius: 3px;
    --form-border-color: #afafaf;
}

body {
    box-sizing: border-box;
    color: var(--font-color);
    min-height: 100svh;
    font-size: clamp(1.3rem, 0.5vw + 1rem, 1.4rem);
    background: var(--app-bg);
    padding-bottom: var(--spacing-big);
    position: relative;
}

body.dark {
    --font-color: #f2f2f2;
    --surface-bg: #202945;
    --app-bg: #152028;
    --spacing-big: 1.5em;
    --spacing-small: 1em;
    --action-color: #5be382;
    --action-color-contrast: #1e1e1e;
    --control-focus-color: #ceffed;
    --danger-color: #fd793c;
    --shadow-color: #b5ffc2;
    --animation-duration: 0.3s;
    --form-border-color: #adeab8;
}

body.motion-reduced {
    --animation-duration: 1ms;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body * {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-block: 0.75em;
}

h1 {
    view-transition-name:page-title;
}

a {
    color: var(--action-color);
    text-underline-offset: 4px;
}

ui-icon {
    --_size: var(--size, 1em);
    aspect-ratio: 1 / 1;
    display: inline-block;
    width: var(--_size);
    height: var(--_size);
}

:is(span, button, a):has(ui-icon:first-child) {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wrapper {
    max-width: min(var(--max-width, 80ch), 100% - var(--spacing-big));
    margin: auto;
}

.boxed {
    box-shadow: 0 0 2px 0 var(--shadow-color);
    border-radius: var(--border-radius);
}

.surface {
    background: var(--surface-bg);
}

.danger {
    color: var(--danger-color);
}

.transition-card {
    view-transition-name: product-card
}

/**
HEADER
 */

#logo {
    width: 3rem;
    height: 3rem;
}

#main-header {
    view-transition-name: site-header;

    > .wrapper {
        --spacing: calc(var(--spacing-big) * 2);
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        gap: var(--spacing);
    }
}

#main-nav {
    flex-grow: 1;

    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    li {
        flex-basis: 100px;
    }

    a {
        --_spacing: 2px;
        text-decoration: none;
        display: grid;
        gap: var(--_spacing);
        padding-inline: var(--_spacing);
        padding-block: var(--_spacing);
        grid-template-rows: 1fr auto;
        justify-items: center;
        border-width: var(--_spacing) 0;
        border-style: solid;
        border-color: transparent;
        color: currentColor;
        opacity: 0.8;
        transition: border-bottom-color var(--animation-duration);

        > span:last-child {
            font-size: 0.7em;
        }

        > ui-icon:first-child {
            --size: 1.5rem;
            display: block;
        }
    }

    a[aria-current=page] {
        border-bottom-color: var(--action-color);
    }

    a:hover {
        opacity: 1;
    }
}

@keyframes fade-in {
    from { opacity: 0; }
}

@keyframes fade-out {
    to { opacity: 0; }
}

@keyframes scale-out {
    to {
        transform: scale3d(1.2,1.2,0);
    }
}

@keyframes slide-from-right {
    from { transform: translateX(30px); }
}

@keyframes slide-to-left {
    to { transform: translateX(-30px); }
}

::view-transition-old(product-card) {
    animation: 30ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(product-card) {
    animation: 500ms cubic-bezier(0, 0, 0.2, 1) 50ms both fade-in;
}

::view-transition-old(page-title) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(page-title) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}


