#dashboard {
    --_spacing: 0.6em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(540px, 100%), 1fr));
    gap: var(--_spacing);
}

.data-viz {
    gap: calc(var(--_spacing) * 3) var(--_spacing);
    padding: var(--_spacing);
    display: grid;
    grid-template-areas:
            "heading total"
            "chart chart";
    grid-template-columns: 1fr minmax(4em, max-content);
    align-items: center;
    background-image: linear-gradient(to bottom, var(--surface-bg), transparent 60%, var(--surface-bg));

    h2 {
        margin: 0;
        font-size: 1em;
    }

    > :nth-child(2) {
        font-size: 0.95em;
    }
}

app-revenues-chart {
    --_serie-hue: 215;
    --_serie-saturation: 100%;
    --_serie-light: 80%;
}

app-top-items-chart {
    --_serie-hue: 360;
    --_serie-saturation: 90%;
    --_serie-light: 70%;
}

app-cart-count-chart {
    ui-bar {
        &:first-child {
            --_serie-hue: 140;
            --_serie-saturation: 100%;
            --_serie-light: 80%;
        }

        &:nth-child(2) {
            --_serie-hue: 10;
            --_serie-saturation: 90%;
            --_serie-light: 50%;
            --serie-color: white;
        }

    }
}

ui-bar-chart {
    min-height: 350px;
    grid-area: chart;
}

ui-bar-chart[orientation=horizontal] {

    ui-category-axis > * {
        display: grid;
        place-items: center;
        writing-mode: horizontal-tb;
        padding-inline-end: 0.5em;
    }

    ui-bar {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        background-image: linear-gradient(to left, var(--_serie-start), var(--_serie-end));

        > * {
            padding-inline-end: 0.5em;
            writing-mode: horizontal-tb;
        }
    }
}


ui-bar {
    --_serie-start: hsl(var(--_serie-hue), var(--_serie-saturation), var(--_serie-light));
    --_serie-end: hsl(var(--_serie-hue), calc(var(--_serie-saturation) / 2), calc(var(--_serie-saturation) / 2));
    background-image: linear-gradient(to bottom, var(--_serie-start), var(--_serie-end));
    text-align: center;
    font-size: 0.7em;
    color: var(--serie-color, #003300);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-shadow: 0 0 2px 0 hsl(var(--_serie-hue), calc(var(--_serie-saturation) / 4), calc(var(--_serie-light) / 5));
}

ui-category-axis {
    font-size: 0.6em;
    text-align: center;
    border-block-start: 1px solid #abaebb;
}
